<a href="https://colab.research.google.com/github/sagarsingh36/infinitesol/blob/main/Py_spark_and_spark_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
a=1

In [ ]:
print("my code")

my code

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("Intelli_J").master("local").getOrCreate()

In [ ]:
df =spark.read.csv('/content/course_file.csv')

In [ ]:
df.show (2)

+-------------------+-------------+----------------+-------+-------+---------------+-------------+-------+--------+-----------+--------------------+--------+
|                _c0|          _c1|             _c2|    _c3|    _c4|            _c5|          _c6|    _c7|     _c8|        _c9|                _c10|    _c11|
+-------------------+-------------+----------------+-------+-------+---------------+-------------+-------+--------+-----------+--------------------+--------+
|          date_time|       userid|          domain|dlbytes|ulbytes|       clientip|     serverip|country|txn_time|http_method|          user_agent|platform|
|2023-10-04 11:37:11|7773153683656|ryan-wells.co.uk| 872807| 741526|142.132.219.110|62.42.184.180|England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
+-------------------+-------------+----------------+-------+-------+---------------+-------------+-------+--------+-----------+--------------------+--------+
only showing top 2 rows

In [ ]:
df =spark.read.csv('/content/course_file.csv',header=True)

In [ ]:
df.show (2)

+-------------------+-------------+----------------+-------+-------+---------------+-------------+-------+--------+-----------+--------------------+--------+
|          date_time|       userid|          domain|dlbytes|ulbytes|       clientip|     serverip|country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+----------------+-------+-------+---------------+-------------+-------+--------+-----------+--------------------+--------+
|2023-10-04 11:37:11|7773153683656|ryan-wells.co.uk| 872807| 741526|142.132.219.110|62.42.184.180|England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 12:17:07|1886351675683|     hopkins.org|  50898| 529504|  184.205.48.78|152.123.41.39|  Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|
+-------------------+-------------+----------------+-------+-------+---------------+-------------+-------+--------+-----------+--------------------+--------+
only showing top 2 rows

In [ ]:
df.show (5)

+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|     serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
only showing top 5 rows

In [ ]:
df = spark.read.format('csv').options(header=True, inferSchema=True).load('/content/course_file.csv')

In [ ]:
df.show (5)

+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|     serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+
only showing top 5 rows

In [ ]:
df.printSchema()

root
 |-- date_time: timestamp (nullable = true)
 |-- userid: long (nullable = true)
 |-- domain: string (nullable = true)
 |-- dlbytes: integer (nullable = true)
 |-- ulbytes: integer (nullable = true)
 |-- clientip: string (nullable = true)
 |-- serverip: string (nullable = true)
 |-- country: string (nullable = true)
 |-- txn_time: double (nullable = true)
 |-- http_method: string (nullable = true)
 |-- user_agent: string (nullable = true)
 |-- platform: string (nullable = true)

In [ ]:
df.printSchema()

root
 |-- date_time: timestamp (nullable = true)
 |-- userid: long (nullable = true)
 |-- domain: string (nullable = true)
 |-- dlbytes: integer (nullable = true)
 |-- ulbytes: integer (nullable = true)
 |-- clientip: string (nullable = true)
 |-- serverip: string (nullable = true)
 |-- country: string (nullable = true)
 |-- txn_time: double (nullable = true)
 |-- http_method: string (nullable = true)
 |-- user_agent: string (nullable = true)
 |-- platform: string (nullable = true)

In [ ]:
# to show count mean, standard deviation mean etc
df.describe().show()

+-------+--------------------+-----------------+------------------+-----------------+-----------+------------+-------+------------------+-----------+--------------------+--------+
|summary|              userid|           domain|           dlbytes|          ulbytes|   clientip|    serverip|country|          txn_time|http_method|          user_agent|platform|
+-------+--------------------+-----------------+------------------+-----------------+-----------+------------+-------+------------------+-----------+--------------------+--------+
|  count|              100000|           100000|            100000|           100000|     100000|      100000| 100000|            100000|     100000|              100000|  100000|
|   mean|5.010135665120623E12|             NULL|      499993.58573|     499925.16314|       NULL|        NULL|   NULL| 1.498051999999985|       NULL|                NULL|    NULL|
| stddev|2.898286126875010...|             NULL|288565.82296079386|288284.7692300465|       NULL|        NULL|   NULL|0.8669253606232793|       NULL|                NULL|    NULL|
|    min|            34807482|abbott-barnes.com|                61|               74|1.0.166.229|  1.1.144.16|England|               0.0|       HTTP|Mozilla/5.0 (Andr...| Android|
|    max|       9999986035271|        young.org|            999994|           999975|99.99.69.51|99.97.24.198|  Wales|               3.0|      HTTPS|Opera/9.99.(X11; ...|     iOS|
+-------+--------------------+-----------------+------------------+-----------------+-----------+------------+-------+------------------+-----------+--------------------+--------+

df.count()

df.count()

In [ ]:
df.count()

100001

In [ ]:
df.columns

['_c0',
 '_c1',
 '_c2',
 '_c3',
 '_c4',
 '_c5',
 '_c6',
 '_c7',
 '_c8',
 '_c9',
 '_c10',
 '_c11']

In [ ]:
# To shows the datatypes
df.dtypes

[('_c0', 'string'),
 ('_c1', 'string'),
 ('_c2', 'string'),
 ('_c3', 'string'),
 ('_c4', 'string'),
 ('_c5', 'string'),
 ('_c6', 'string'),
 ('_c7', 'string'),
 ('_c8', 'string'),
 ('_c9', 'string'),
 ('_c10', 'string'),
 ('_c11', 'string')]

In [ ]:
#to select specific column
df.select('country', 'dlbytes').show()

+--------+-------+
| country|dlbytes|
+--------+-------+
| England| 872807|
|   Wales|  50898|
|Scotland| 964276|
| England| 212529|
|   Wales| 553626|
| England|  43595|
| England| 270574|
|Scotland| 342378|
|Scotland| 613214|
| England| 643362|
| Ireland| 603759|
| England| 707145|
|   Wales| 640439|
| England| 764956|
| Ireland| 651947|
| Ireland| 428528|
|   Wales|  23710|
|   Wales| 447095|
| England| 809701|
|Scotland| 204941|
+--------+-------+
only showing top 20 rows

In [ ]:
# rplace this data frame to countriesdataframe
countriesDataframe=df.select('country', 'dlbytes')

In [ ]:
countriesDataframe.show()

+--------+-------+
| country|dlbytes|
+--------+-------+
| England| 872807|
|   Wales|  50898|
|Scotland| 964276|
| England| 212529|
|   Wales| 553626|
| England|  43595|
| England| 270574|
|Scotland| 342378|
|Scotland| 613214|
| England| 643362|
| Ireland| 603759|
| England| 707145|
|   Wales| 640439|
| England| 764956|
| Ireland| 651947|
| Ireland| 428528|
|   Wales|  23710|
|   Wales| 447095|
| England| 809701|
|Scotland| 204941|
+--------+-------+
only showing top 20 rows

In [ ]:
countriesDataframe.show(2)

+-------+-------+
|country|dlbytes|
+-------+-------+
|England| 872807|
|  Wales|  50898|
+-------+-------+
only showing top 2 rows

In [ ]:
countriesDataframe.show(2)

+-------+-------+
|country|dlbytes|
+-------+-------+
|England| 872807|
|  Wales|  50898|
+-------+-------+
only showing top 2 rows

In [ ]:
from pyspark.sql.types import *

# Define the Custom Schema
custom_schema = StructType([
    StructField("date_time", StringType(), True),
    StructField("userid", StringType(), True),
    StructField("domain", StringType(), True),
    StructField("dlbytes", IntegerType(), True),
    StructField("ulbytes", IntegerType(), True),
    StructField("clientip", StringType(), True),
    StructField("serverip", StringType(), True),
    StructField("country", StringType(), True),
    StructField("txn_time", FloatType(), True),
    StructField("http_method", StringType(), True),
    StructField("user_agent", StringType(), True),
    StructField("platform", StringType(), True)
])
#dataFrameCustomSchema = spark.read.csv('/content/course_file.csv', schema=custom_schema, header=True)
#dataFrameCustomSchema.printSchema()
# dataFrameCustomSchema = spark.read.format('csv').options(schema=custom_schema, header=True).load('/content/course_file.csv')
dataFrameCustomSchema = spark.read.format('csv').options(header=True).schema(custom_schema).load('/content/course_file.csv')

In [ ]:
df.printSchema()

root
 |-- date_time: timestamp (nullable = true)
 |-- userid: long (nullable = true)
 |-- domain: string (nullable = true)
 |-- dlbytes: integer (nullable = true)
 |-- ulbytes: integer (nullable = true)
 |-- clientip: string (nullable = true)
 |-- serverip: string (nullable = true)
 |-- country: string (nullable = true)
 |-- txn_time: double (nullable = true)
 |-- http_method: string (nullable = true)
 |-- user_agent: string (nullable = true)
 |-- platform: string (nullable = true)

In [ ]:
# Replace Null Values in specific column with specified value
df.fillna(
    {'dlbytes':0,
     'ulbytes':0,
     'country':'Unknown'

    }
).show()

+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|       serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|  62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|  152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|  68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|  63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|  26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|
|2023-10-01 13:49:39|8949163845658|            lowe.com|  43595|  77597|  148.15.214.37|     4.33.9.229| England|    1.68|       HTTP|Mozilla/5.0 (Linu...|     Mac|
|2023-10-02 02:22:30|8035878244556|            webb.com| 270574|  94701|  73.78.116.223|    82.69.61.25| England|    2.19|      HTTPS|Mozilla/5.0 (Wind...| Windows|
|2023-10-03 11:48:19|3400788003398|           watts.com| 342378| 715125|  142.37.27.131| 41.152.174.228|Scotland|    2.92|       HTTP|Opera/8.53.(Windo...|   Linux|
|2023-10-02 12:45:41|7007039082075|   kemp-robinson.org| 613214| 239494| 80.245.249.129|198.186.190.149|Scotland|    1.78|      HTTPS|Mozilla/5.0 (X11;...|     Mac|
|2023-10-03 08:59:16| 893913938070|           smith.com| 643362| 146752|    21.239.54.8|  136.170.182.7| England|    0.58|      HTTPS|Mozilla/5.0 (Andr...| Windows|
|2023-10-05 21:36:53|3102780874474|   wilson-butler.com| 603759| 616834| 57.113.168.155|162.232.192.227| Ireland|    2.42|      HTTPS|Mozilla/5.0 (Andr...|     Mac|
|2023-10-02 03:26:59|7214908687567|            hunt.com| 707145| 995270|  98.141.197.15| 107.239.246.38| England|    1.95|       HTTP|Opera/9.31.(Windo...|     iOS|
|2023-10-04 03:09:58| 291279030607|           jones.org| 640439| 373389|       98.3.2.5|   148.44.76.68|   Wales|    2.47|       HTTP|Mozilla/5.0 (Maci...|     Mac|
|2023-10-02 10:16:25|1042763747479|         thomas.info| 764956| 952036|187.182.236.233|   85.61.114.36| England|    1.42|       HTTP|Mozilla/5.0 (Andr...| Android|
|2023-10-05 02:22:40|2322746906974|franklin-whittake...| 651947| 183369| 26.138.157.236| 142.176.162.10| Ireland|    1.35|      HTTPS|Opera/8.74.(Windo...|   Linux|
|2023-10-01 18:12:17| 316289568864|         godfrey.com| 428528|  78946| 65.224.238.100|  128.90.192.17| Ireland|    1.61|       HTTP|Opera/9.16.(Windo...|   Linux|
|2023-10-01 20:09:39|1093994305313|          wilson.com|  23710|  84942|  129.221.29.97|  18.191.29.117|   Wales|    1.25|       HTTP|Opera/9.17.(X11; ...|     iOS|
|2023-10-03 04:45:13|7035874783254|      cole-jones.com| 447095| 390148|   94.98.62.187|172.173.228.171|   Wales|    2.43|       HTTP|Mozilla/5.0 (comp...| Android|
|2023-10-05 18:48:05|7798663185667|            hall.net| 809701|  11489|  82.141.112.88|  110.103.99.71| England|    2.66|      HTTPS|Mozilla/5.0 (iPad...|     iOS|
|2023-10-02 13:47:58| 150443056843|            todd.com| 204941| 114006|   161.8.210.40| 208.230.61.215|Scotland|    2.69|       HTTP|Opera/9.36.(X11; ...| Android|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
only showing top 20 rows

In [ ]:
# Replace all null values is present then replace it with 1
df.fillna('1').show()

+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|       serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|  62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|  152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|  68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|  63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|  26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|
|2023-10-01 13:49:39|8949163845658|            lowe.com|  43595|  77597|  148.15.214.37|     4.33.9.229| England|    1.68|       HTTP|Mozilla/5.0 (Linu...|     Mac|
|2023-10-02 02:22:30|8035878244556|            webb.com| 270574|  94701|  73.78.116.223|    82.69.61.25| England|    2.19|      HTTPS|Mozilla/5.0 (Wind...| Windows|
|2023-10-03 11:48:19|3400788003398|           watts.com| 342378| 715125|  142.37.27.131| 41.152.174.228|Scotland|    2.92|       HTTP|Opera/8.53.(Windo...|   Linux|
|2023-10-02 12:45:41|7007039082075|   kemp-robinson.org| 613214| 239494| 80.245.249.129|198.186.190.149|Scotland|    1.78|      HTTPS|Mozilla/5.0 (X11;...|     Mac|
|2023-10-03 08:59:16| 893913938070|           smith.com| 643362| 146752|    21.239.54.8|  136.170.182.7| England|    0.58|      HTTPS|Mozilla/5.0 (Andr...| Windows|
|2023-10-05 21:36:53|3102780874474|   wilson-butler.com| 603759| 616834| 57.113.168.155|162.232.192.227| Ireland|    2.42|      HTTPS|Mozilla/5.0 (Andr...|     Mac|
|2023-10-02 03:26:59|7214908687567|            hunt.com| 707145| 995270|  98.141.197.15| 107.239.246.38| England|    1.95|       HTTP|Opera/9.31.(Windo...|     iOS|
|2023-10-04 03:09:58| 291279030607|           jones.org| 640439| 373389|       98.3.2.5|   148.44.76.68|   Wales|    2.47|       HTTP|Mozilla/5.0 (Maci...|     Mac|
|2023-10-02 10:16:25|1042763747479|         thomas.info| 764956| 952036|187.182.236.233|   85.61.114.36| England|    1.42|       HTTP|Mozilla/5.0 (Andr...| Android|
|2023-10-05 02:22:40|2322746906974|franklin-whittake...| 651947| 183369| 26.138.157.236| 142.176.162.10| Ireland|    1.35|      HTTPS|Opera/8.74.(Windo...|   Linux|
|2023-10-01 18:12:17| 316289568864|         godfrey.com| 428528|  78946| 65.224.238.100|  128.90.192.17| Ireland|    1.61|       HTTP|Opera/9.16.(Windo...|   Linux|
|2023-10-01 20:09:39|1093994305313|          wilson.com|  23710|  84942|  129.221.29.97|  18.191.29.117|   Wales|    1.25|       HTTP|Opera/9.17.(X11; ...|     iOS|
|2023-10-03 04:45:13|7035874783254|      cole-jones.com| 447095| 390148|   94.98.62.187|172.173.228.171|   Wales|    2.43|       HTTP|Mozilla/5.0 (comp...| Android|
|2023-10-05 18:48:05|7798663185667|            hall.net| 809701|  11489|  82.141.112.88|  110.103.99.71| England|    2.66|      HTTPS|Mozilla/5.0 (iPad...|     iOS|
|2023-10-02 13:47:58| 150443056843|            todd.com| 204941| 114006|   161.8.210.40| 208.230.61.215|Scotland|    2.69|       HTTP|Opera/9.36.(X11; ...| Android|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
only showing top 20 rows

In [ ]:
# where ever the null(na) find in table drop it.
df.dropna().show()

+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|       serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|  62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|  152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|  68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|  63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|  26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|
|2023-10-01 13:49:39|8949163845658|            lowe.com|  43595|  77597|  148.15.214.37|     4.33.9.229| England|    1.68|       HTTP|Mozilla/5.0 (Linu...|     Mac|
|2023-10-02 02:22:30|8035878244556|            webb.com| 270574|  94701|  73.78.116.223|    82.69.61.25| England|    2.19|      HTTPS|Mozilla/5.0 (Wind...| Windows|
|2023-10-03 11:48:19|3400788003398|           watts.com| 342378| 715125|  142.37.27.131| 41.152.174.228|Scotland|    2.92|       HTTP|Opera/8.53.(Windo...|   Linux|
|2023-10-02 12:45:41|7007039082075|   kemp-robinson.org| 613214| 239494| 80.245.249.129|198.186.190.149|Scotland|    1.78|      HTTPS|Mozilla/5.0 (X11;...|     Mac|
|2023-10-03 08:59:16| 893913938070|           smith.com| 643362| 146752|    21.239.54.8|  136.170.182.7| England|    0.58|      HTTPS|Mozilla/5.0 (Andr...| Windows|
|2023-10-05 21:36:53|3102780874474|   wilson-butler.com| 603759| 616834| 57.113.168.155|162.232.192.227| Ireland|    2.42|      HTTPS|Mozilla/5.0 (Andr...|     Mac|
|2023-10-02 03:26:59|7214908687567|            hunt.com| 707145| 995270|  98.141.197.15| 107.239.246.38| England|    1.95|       HTTP|Opera/9.31.(Windo...|     iOS|
|2023-10-04 03:09:58| 291279030607|           jones.org| 640439| 373389|       98.3.2.5|   148.44.76.68|   Wales|    2.47|       HTTP|Mozilla/5.0 (Maci...|     Mac|
|2023-10-02 10:16:25|1042763747479|         thomas.info| 764956| 952036|187.182.236.233|   85.61.114.36| England|    1.42|       HTTP|Mozilla/5.0 (Andr...| Android|
|2023-10-05 02:22:40|2322746906974|franklin-whittake...| 651947| 183369| 26.138.157.236| 142.176.162.10| Ireland|    1.35|      HTTPS|Opera/8.74.(Windo...|   Linux|
|2023-10-01 18:12:17| 316289568864|         godfrey.com| 428528|  78946| 65.224.238.100|  128.90.192.17| Ireland|    1.61|       HTTP|Opera/9.16.(Windo...|   Linux|
|2023-10-01 20:09:39|1093994305313|          wilson.com|  23710|  84942|  129.221.29.97|  18.191.29.117|   Wales|    1.25|       HTTP|Opera/9.17.(X11; ...|     iOS|
|2023-10-03 04:45:13|7035874783254|      cole-jones.com| 447095| 390148|   94.98.62.187|172.173.228.171|   Wales|    2.43|       HTTP|Mozilla/5.0 (comp...| Android|
|2023-10-05 18:48:05|7798663185667|            hall.net| 809701|  11489|  82.141.112.88|  110.103.99.71| England|    2.66|      HTTPS|Mozilla/5.0 (iPad...|     iOS|
|2023-10-02 13:47:58| 150443056843|            todd.com| 204941| 114006|   161.8.210.40| 208.230.61.215|Scotland|    2.69|       HTTP|Opera/9.36.(X11; ...| Android|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
only showing top 20 rows

In [ ]:
# if any values is null in any coulumn (subset) than drop that row
df.dropna(subset=['country', 'dlbytes']).show()

+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|       serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|  62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|  152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|  68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|  63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|  26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|
|2023-10-01 13:49:39|8949163845658|            lowe.com|  43595|  77597|  148.15.214.37|     4.33.9.229| England|    1.68|       HTTP|Mozilla/5.0 (Linu...|     Mac|
|2023-10-02 02:22:30|8035878244556|            webb.com| 270574|  94701|  73.78.116.223|    82.69.61.25| England|    2.19|      HTTPS|Mozilla/5.0 (Wind...| Windows|
|2023-10-03 11:48:19|3400788003398|           watts.com| 342378| 715125|  142.37.27.131| 41.152.174.228|Scotland|    2.92|       HTTP|Opera/8.53.(Windo...|   Linux|
|2023-10-02 12:45:41|7007039082075|   kemp-robinson.org| 613214| 239494| 80.245.249.129|198.186.190.149|Scotland|    1.78|      HTTPS|Mozilla/5.0 (X11;...|     Mac|
|2023-10-03 08:59:16| 893913938070|           smith.com| 643362| 146752|    21.239.54.8|  136.170.182.7| England|    0.58|      HTTPS|Mozilla/5.0 (Andr...| Windows|
|2023-10-05 21:36:53|3102780874474|   wilson-butler.com| 603759| 616834| 57.113.168.155|162.232.192.227| Ireland|    2.42|      HTTPS|Mozilla/5.0 (Andr...|     Mac|
|2023-10-02 03:26:59|7214908687567|            hunt.com| 707145| 995270|  98.141.197.15| 107.239.246.38| England|    1.95|       HTTP|Opera/9.31.(Windo...|     iOS|
|2023-10-04 03:09:58| 291279030607|           jones.org| 640439| 373389|       98.3.2.5|   148.44.76.68|   Wales|    2.47|       HTTP|Mozilla/5.0 (Maci...|     Mac|
|2023-10-02 10:16:25|1042763747479|         thomas.info| 764956| 952036|187.182.236.233|   85.61.114.36| England|    1.42|       HTTP|Mozilla/5.0 (Andr...| Android|
|2023-10-05 02:22:40|2322746906974|franklin-whittake...| 651947| 183369| 26.138.157.236| 142.176.162.10| Ireland|    1.35|      HTTPS|Opera/8.74.(Windo...|   Linux|
|2023-10-01 18:12:17| 316289568864|         godfrey.com| 428528|  78946| 65.224.238.100|  128.90.192.17| Ireland|    1.61|       HTTP|Opera/9.16.(Windo...|   Linux|
|2023-10-01 20:09:39|1093994305313|          wilson.com|  23710|  84942|  129.221.29.97|  18.191.29.117|   Wales|    1.25|       HTTP|Opera/9.17.(X11; ...|     iOS|
|2023-10-03 04:45:13|7035874783254|      cole-jones.com| 447095| 390148|   94.98.62.187|172.173.228.171|   Wales|    2.43|       HTTP|Mozilla/5.0 (comp...| Android|
|2023-10-05 18:48:05|7798663185667|            hall.net| 809701|  11489|  82.141.112.88|  110.103.99.71| England|    2.66|      HTTPS|Mozilla/5.0 (iPad...|     iOS|
|2023-10-02 13:47:58| 150443056843|            todd.com| 204941| 114006|   161.8.210.40| 208.230.61.215|Scotland|    2.69|       HTTP|Opera/9.36.(X11; ...| Android|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
only showing top 20 rows

In [ ]:
# Fill the column where is null in specified column
df.fillna(
    {
        'dlbytes':0,
        'ulbytes':0,
        'country':'unknown'
    }
).show()

+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|       serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|  62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|  152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|  68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|  63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|  26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|
|2023-10-01 13:49:39|8949163845658|            lowe.com|  43595|  77597|  148.15.214.37|     4.33.9.229| England|    1.68|       HTTP|Mozilla/5.0 (Linu...|     Mac|
|2023-10-02 02:22:30|8035878244556|            webb.com| 270574|  94701|  73.78.116.223|    82.69.61.25| England|    2.19|      HTTPS|Mozilla/5.0 (Wind...| Windows|
|2023-10-03 11:48:19|3400788003398|           watts.com| 342378| 715125|  142.37.27.131| 41.152.174.228|Scotland|    2.92|       HTTP|Opera/8.53.(Windo...|   Linux|
|2023-10-02 12:45:41|7007039082075|   kemp-robinson.org| 613214| 239494| 80.245.249.129|198.186.190.149|Scotland|    1.78|      HTTPS|Mozilla/5.0 (X11;...|     Mac|
|2023-10-03 08:59:16| 893913938070|           smith.com| 643362| 146752|    21.239.54.8|  136.170.182.7| England|    0.58|      HTTPS|Mozilla/5.0 (Andr...| Windows|
|2023-10-05 21:36:53|3102780874474|   wilson-butler.com| 603759| 616834| 57.113.168.155|162.232.192.227| Ireland|    2.42|      HTTPS|Mozilla/5.0 (Andr...|     Mac|
|2023-10-02 03:26:59|7214908687567|            hunt.com| 707145| 995270|  98.141.197.15| 107.239.246.38| England|    1.95|       HTTP|Opera/9.31.(Windo...|     iOS|
|2023-10-04 03:09:58| 291279030607|           jones.org| 640439| 373389|       98.3.2.5|   148.44.76.68|   Wales|    2.47|       HTTP|Mozilla/5.0 (Maci...|     Mac|
|2023-10-02 10:16:25|1042763747479|         thomas.info| 764956| 952036|187.182.236.233|   85.61.114.36| England|    1.42|       HTTP|Mozilla/5.0 (Andr...| Android|
|2023-10-05 02:22:40|2322746906974|franklin-whittake...| 651947| 183369| 26.138.157.236| 142.176.162.10| Ireland|    1.35|      HTTPS|Opera/8.74.(Windo...|   Linux|
|2023-10-01 18:12:17| 316289568864|         godfrey.com| 428528|  78946| 65.224.238.100|  128.90.192.17| Ireland|    1.61|       HTTP|Opera/9.16.(Windo...|   Linux|
|2023-10-01 20:09:39|1093994305313|          wilson.com|  23710|  84942|  129.221.29.97|  18.191.29.117|   Wales|    1.25|       HTTP|Opera/9.17.(X11; ...|     iOS|
|2023-10-03 04:45:13|7035874783254|      cole-jones.com| 447095| 390148|   94.98.62.187|172.173.228.171|   Wales|    2.43|       HTTP|Mozilla/5.0 (comp...| Android|
|2023-10-05 18:48:05|7798663185667|            hall.net| 809701|  11489|  82.141.112.88|  110.103.99.71| England|    2.66|      HTTPS|Mozilla/5.0 (iPad...|     iOS|
|2023-10-02 13:47:58| 150443056843|            todd.com| 204941| 114006|   161.8.210.40| 208.230.61.215|Scotland|    2.69|       HTTP|Opera/9.36.(X11; ...| Android|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
only showing top 20 rows

In [ ]:
df.fillna('1').show()

+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|       serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|  62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|  152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|  68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|  63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|  26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|
|2023-10-01 13:49:39|8949163845658|            lowe.com|  43595|  77597|  148.15.214.37|     4.33.9.229| England|    1.68|       HTTP|Mozilla/5.0 (Linu...|     Mac|
|2023-10-02 02:22:30|8035878244556|            webb.com| 270574|  94701|  73.78.116.223|    82.69.61.25| England|    2.19|      HTTPS|Mozilla/5.0 (Wind...| Windows|
|2023-10-03 11:48:19|3400788003398|           watts.com| 342378| 715125|  142.37.27.131| 41.152.174.228|Scotland|    2.92|       HTTP|Opera/8.53.(Windo...|   Linux|
|2023-10-02 12:45:41|7007039082075|   kemp-robinson.org| 613214| 239494| 80.245.249.129|198.186.190.149|Scotland|    1.78|      HTTPS|Mozilla/5.0 (X11;...|     Mac|
|2023-10-03 08:59:16| 893913938070|           smith.com| 643362| 146752|    21.239.54.8|  136.170.182.7| England|    0.58|      HTTPS|Mozilla/5.0 (Andr...| Windows|
|2023-10-05 21:36:53|3102780874474|   wilson-butler.com| 603759| 616834| 57.113.168.155|162.232.192.227| Ireland|    2.42|      HTTPS|Mozilla/5.0 (Andr...|     Mac|
|2023-10-02 03:26:59|7214908687567|            hunt.com| 707145| 995270|  98.141.197.15| 107.239.246.38| England|    1.95|       HTTP|Opera/9.31.(Windo...|     iOS|
|2023-10-04 03:09:58| 291279030607|           jones.org| 640439| 373389|       98.3.2.5|   148.44.76.68|   Wales|    2.47|       HTTP|Mozilla/5.0 (Maci...|     Mac|
|2023-10-02 10:16:25|1042763747479|         thomas.info| 764956| 952036|187.182.236.233|   85.61.114.36| England|    1.42|       HTTP|Mozilla/5.0 (Andr...| Android|
|2023-10-05 02:22:40|2322746906974|franklin-whittake...| 651947| 183369| 26.138.157.236| 142.176.162.10| Ireland|    1.35|      HTTPS|Opera/8.74.(Windo...|   Linux|
|2023-10-01 18:12:17| 316289568864|         godfrey.com| 428528|  78946| 65.224.238.100|  128.90.192.17| Ireland|    1.61|       HTTP|Opera/9.16.(Windo...|   Linux|
|2023-10-01 20:09:39|1093994305313|          wilson.com|  23710|  84942|  129.221.29.97|  18.191.29.117|   Wales|    1.25|       HTTP|Opera/9.17.(X11; ...|     iOS|
|2023-10-03 04:45:13|7035874783254|      cole-jones.com| 447095| 390148|   94.98.62.187|172.173.228.171|   Wales|    2.43|       HTTP|Mozilla/5.0 (comp...| Android|
|2023-10-05 18:48:05|7798663185667|            hall.net| 809701|  11489|  82.141.112.88|  110.103.99.71| England|    2.66|      HTTPS|Mozilla/5.0 (iPad...|     iOS|
|2023-10-02 13:47:58| 150443056843|            todd.com| 204941| 114006|   161.8.210.40| 208.230.61.215|Scotland|    2.69|       HTTP|Opera/9.36.(X11; ...| Android|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
only showing top 20 rows

In [ ]:
df.fillna('1').show()

+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|       serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|  62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|  152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|  68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|  63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|  26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|
|2023-10-01 13:49:39|8949163845658|            lowe.com|  43595|  77597|  148.15.214.37|     4.33.9.229| England|    1.68|       HTTP|Mozilla/5.0 (Linu...|     Mac|
|2023-10-02 02:22:30|8035878244556|            webb.com| 270574|  94701|  73.78.116.223|    82.69.61.25| England|    2.19|      HTTPS|Mozilla/5.0 (Wind...| Windows|
|2023-10-03 11:48:19|3400788003398|           watts.com| 342378| 715125|  142.37.27.131| 41.152.174.228|Scotland|    2.92|       HTTP|Opera/8.53.(Windo...|   Linux|
|2023-10-02 12:45:41|7007039082075|   kemp-robinson.org| 613214| 239494| 80.245.249.129|198.186.190.149|Scotland|    1.78|      HTTPS|Mozilla/5.0 (X11;...|     Mac|
|2023-10-03 08:59:16| 893913938070|           smith.com| 643362| 146752|    21.239.54.8|  136.170.182.7| England|    0.58|      HTTPS|Mozilla/5.0 (Andr...| Windows|
|2023-10-05 21:36:53|3102780874474|   wilson-butler.com| 603759| 616834| 57.113.168.155|162.232.192.227| Ireland|    2.42|      HTTPS|Mozilla/5.0 (Andr...|     Mac|
|2023-10-02 03:26:59|7214908687567|            hunt.com| 707145| 995270|  98.141.197.15| 107.239.246.38| England|    1.95|       HTTP|Opera/9.31.(Windo...|     iOS|
|2023-10-04 03:09:58| 291279030607|           jones.org| 640439| 373389|       98.3.2.5|   148.44.76.68|   Wales|    2.47|       HTTP|Mozilla/5.0 (Maci...|     Mac|
|2023-10-02 10:16:25|1042763747479|         thomas.info| 764956| 952036|187.182.236.233|   85.61.114.36| England|    1.42|       HTTP|Mozilla/5.0 (Andr...| Android|
|2023-10-05 02:22:40|2322746906974|franklin-whittake...| 651947| 183369| 26.138.157.236| 142.176.162.10| Ireland|    1.35|      HTTPS|Opera/8.74.(Windo...|   Linux|
|2023-10-01 18:12:17| 316289568864|         godfrey.com| 428528|  78946| 65.224.238.100|  128.90.192.17| Ireland|    1.61|       HTTP|Opera/9.16.(Windo...|   Linux|
|2023-10-01 20:09:39|1093994305313|          wilson.com|  23710|  84942|  129.221.29.97|  18.191.29.117|   Wales|    1.25|       HTTP|Opera/9.17.(X11; ...|     iOS|
|2023-10-03 04:45:13|7035874783254|      cole-jones.com| 447095| 390148|   94.98.62.187|172.173.228.171|   Wales|    2.43|       HTTP|Mozilla/5.0 (comp...| Android|
|2023-10-05 18:48:05|7798663185667|            hall.net| 809701|  11489|  82.141.112.88|  110.103.99.71| England|    2.66|      HTTPS|Mozilla/5.0 (iPad...|     iOS|
|2023-10-02 13:47:58| 150443056843|            todd.com| 204941| 114006|   161.8.210.40| 208.230.61.215|Scotland|    2.69|       HTTP|Opera/9.36.(X11; ...| Android|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
only showing top 20 rows

In [ ]:
# import from pyspark to  sql functions as F
from pyspark.sql import functions as F

In [ ]:
# calculate average using aggrigate
average = df.agg(F.avg('dlbytes')).collect()

In [ ]:
print(average)

[Row(avg(dlbytes)=499993.58573)]

In [ ]:
average = df.agg(F.avg('dlbytes')).collect()[0][0] #[0][0]means interpreting inside value of row

In [ ]:
# replaced null value and used  average in dlbytes column
df.fillna(
    {
       'dlbytes':average,
        'ulbytes':0,
        'country':'unknown'
    }
).show()

+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|       serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|  62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|  152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|  68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|  63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|  26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|
|2023-10-01 13:49:39|8949163845658|            lowe.com|  43595|  77597|  148.15.214.37|     4.33.9.229| England|    1.68|       HTTP|Mozilla/5.0 (Linu...|     Mac|
|2023-10-02 02:22:30|8035878244556|            webb.com| 270574|  94701|  73.78.116.223|    82.69.61.25| England|    2.19|      HTTPS|Mozilla/5.0 (Wind...| Windows|
|2023-10-03 11:48:19|3400788003398|           watts.com| 342378| 715125|  142.37.27.131| 41.152.174.228|Scotland|    2.92|       HTTP|Opera/8.53.(Windo...|   Linux|
|2023-10-02 12:45:41|7007039082075|   kemp-robinson.org| 613214| 239494| 80.245.249.129|198.186.190.149|Scotland|    1.78|      HTTPS|Mozilla/5.0 (X11;...|     Mac|
|2023-10-03 08:59:16| 893913938070|           smith.com| 643362| 146752|    21.239.54.8|  136.170.182.7| England|    0.58|      HTTPS|Mozilla/5.0 (Andr...| Windows|
|2023-10-05 21:36:53|3102780874474|   wilson-butler.com| 603759| 616834| 57.113.168.155|162.232.192.227| Ireland|    2.42|      HTTPS|Mozilla/5.0 (Andr...|     Mac|
|2023-10-02 03:26:59|7214908687567|            hunt.com| 707145| 995270|  98.141.197.15| 107.239.246.38| England|    1.95|       HTTP|Opera/9.31.(Windo...|     iOS|
|2023-10-04 03:09:58| 291279030607|           jones.org| 640439| 373389|       98.3.2.5|   148.44.76.68|   Wales|    2.47|       HTTP|Mozilla/5.0 (Maci...|     Mac|
|2023-10-02 10:16:25|1042763747479|         thomas.info| 764956| 952036|187.182.236.233|   85.61.114.36| England|    1.42|       HTTP|Mozilla/5.0 (Andr...| Android|
|2023-10-05 02:22:40|2322746906974|franklin-whittake...| 651947| 183369| 26.138.157.236| 142.176.162.10| Ireland|    1.35|      HTTPS|Opera/8.74.(Windo...|   Linux|
|2023-10-01 18:12:17| 316289568864|         godfrey.com| 428528|  78946| 65.224.238.100|  128.90.192.17| Ireland|    1.61|       HTTP|Opera/9.16.(Windo...|   Linux|
|2023-10-01 20:09:39|1093994305313|          wilson.com|  23710|  84942|  129.221.29.97|  18.191.29.117|   Wales|    1.25|       HTTP|Opera/9.17.(X11; ...|     iOS|
|2023-10-03 04:45:13|7035874783254|      cole-jones.com| 447095| 390148|   94.98.62.187|172.173.228.171|   Wales|    2.43|       HTTP|Mozilla/5.0 (comp...| Android|
|2023-10-05 18:48:05|7798663185667|            hall.net| 809701|  11489|  82.141.112.88|  110.103.99.71| England|    2.66|      HTTPS|Mozilla/5.0 (iPad...|     iOS|
|2023-10-02 13:47:58| 150443056843|            todd.com| 204941| 114006|   161.8.210.40| 208.230.61.215|Scotland|    2.69|       HTTP|Opera/9.36.(X11; ...| Android|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
only showing top 20 rows

In [ ]:
print(average)

499993.58573

In [ ]:
average = df.agg(F.avg('dlbytes')).collect()

In [ ]:
print(average)
print(average[0][0])

[Row(avg(dlbytes)=499993.58573)]
499993.58573

In [ ]:
#how to use sql in data frame
df.show()

+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|       serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|  62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|  152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|  68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|  63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|  26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|
|2023-10-01 13:49:39|8949163845658|            lowe.com|  43595|  77597|  148.15.214.37|     4.33.9.229| England|    1.68|       HTTP|Mozilla/5.0 (Linu...|     Mac|
|2023-10-02 02:22:30|8035878244556|            webb.com| 270574|  94701|  73.78.116.223|    82.69.61.25| England|    2.19|      HTTPS|Mozilla/5.0 (Wind...| Windows|
|2023-10-03 11:48:19|3400788003398|           watts.com| 342378| 715125|  142.37.27.131| 41.152.174.228|Scotland|    2.92|       HTTP|Opera/8.53.(Windo...|   Linux|
|2023-10-02 12:45:41|7007039082075|   kemp-robinson.org| 613214| 239494| 80.245.249.129|198.186.190.149|Scotland|    1.78|      HTTPS|Mozilla/5.0 (X11;...|     Mac|
|2023-10-03 08:59:16| 893913938070|           smith.com| 643362| 146752|    21.239.54.8|  136.170.182.7| England|    0.58|      HTTPS|Mozilla/5.0 (Andr...| Windows|
|2023-10-05 21:36:53|3102780874474|   wilson-butler.com| 603759| 616834| 57.113.168.155|162.232.192.227| Ireland|    2.42|      HTTPS|Mozilla/5.0 (Andr...|     Mac|
|2023-10-02 03:26:59|7214908687567|            hunt.com| 707145| 995270|  98.141.197.15| 107.239.246.38| England|    1.95|       HTTP|Opera/9.31.(Windo...|     iOS|
|2023-10-04 03:09:58| 291279030607|           jones.org| 640439| 373389|       98.3.2.5|   148.44.76.68|   Wales|    2.47|       HTTP|Mozilla/5.0 (Maci...|     Mac|
|2023-10-02 10:16:25|1042763747479|         thomas.info| 764956| 952036|187.182.236.233|   85.61.114.36| England|    1.42|       HTTP|Mozilla/5.0 (Andr...| Android|
|2023-10-05 02:22:40|2322746906974|franklin-whittake...| 651947| 183369| 26.138.157.236| 142.176.162.10| Ireland|    1.35|      HTTPS|Opera/8.74.(Windo...|   Linux|
|2023-10-01 18:12:17| 316289568864|         godfrey.com| 428528|  78946| 65.224.238.100|  128.90.192.17| Ireland|    1.61|       HTTP|Opera/9.16.(Windo...|   Linux|
|2023-10-01 20:09:39|1093994305313|          wilson.com|  23710|  84942|  129.221.29.97|  18.191.29.117|   Wales|    1.25|       HTTP|Opera/9.17.(X11; ...|     iOS|
|2023-10-03 04:45:13|7035874783254|      cole-jones.com| 447095| 390148|   94.98.62.187|172.173.228.171|   Wales|    2.43|       HTTP|Mozilla/5.0 (comp...| Android|
|2023-10-05 18:48:05|7798663185667|            hall.net| 809701|  11489|  82.141.112.88|  110.103.99.71| England|    2.66|      HTTPS|Mozilla/5.0 (iPad...|     iOS|
|2023-10-02 13:47:58| 150443056843|            todd.com| 204941| 114006|   161.8.210.40| 208.230.61.215|Scotland|    2.69|       HTTP|Opera/9.36.(X11; ...| Android|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
only showing top 20 rows

In [ ]:

# Using Spark SQL on DataFrame

dataFrame.createOrReplaceTempView("dataFrameSQL")
spark.sql("Select * From dataFrameSQL").show()

NameError: name 'dataFrame' is not defined

In [ ]:
# This is spark sql and for spark sql we have to temprory view
spark.sql("select * from dataframeSQL where country='India'")

DataFrame[date_time: timestamp, userid: bigint, domain: string, dlbytes: int, ulbytes: int, clientip: string, serverip: string, country: string, txn_time: double, http_method: string, user_agent: string, platform: string]

In [ ]:
df.filter( df.country == 'India').show() # no India is find in table

+---------+------+------+-------+-------+--------+--------+-------+--------+-----------+----------+--------+
|date_time|userid|domain|dlbytes|ulbytes|clientip|serverip|country|txn_time|http_method|user_agent|platform|
+---------+------+------+-------+-------+--------+--------+-------+--------+-----------+----------+--------+
+---------+------+------+-------+-------+--------+--------+-------+--------+-----------+----------+--------+

In [ ]:

df.filter( df.country == 'Scotland' ).show()

+-------------------+-------------+--------------------+-------+-------+--------------+---------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|      clientip|       serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+--------------+---------------+--------+--------+-----------+--------------------+--------+
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420| 189.30.60.163|  68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 11:48:19|3400788003398|           watts.com| 342378| 715125| 142.37.27.131| 41.152.174.228|Scotland|    2.92|       HTTP|Opera/8.53.(Windo...|   Linux|
|2023-10-02 12:45:41|7007039082075|   kemp-robinson.org| 613214| 239494|80.245.249.129|198.186.190.149|Scotland|    1.78|      HTTPS|Mozilla/5.0 (X11;...|     Mac|
|2023-10-02 13:47:58| 150443056843|            todd.com| 204941| 114006|  161.8.210.40| 208.230.61.215|Scotland|    2.69|       HTTP|Opera/9.36.(X11; ...| Android|
|2023-10-02 16:31:19|9005687132733|  pratt-stephens.net|  24832| 700290| 60.137.227.62|   5.166.88.107|Scotland|    1.21|      HTTPS|Mozilla/5.0 (Linu...| Android|
|2023-10-04 23:30:26| 114665227781|johnson-robertson...| 824956|  79143|78.176.142.176| 20.206.104.212|Scotland|    1.83|       HTTP|Mozilla/5.0 (X11;...|     Mac|
|2023-10-01 23:19:51|  76528169391|         brooks.info| 290266| 821733|  25.38.138.51| 115.22.214.193|Scotland|    0.93|       HTTP|Mozilla/5.0 (X11;...|     iOS|
|2023-10-03 04:20:55|4249192830821|          kelly.info| 651517| 623853| 93.122.128.37|174.208.156.197|Scotland|    0.45|       HTTP|Mozilla/5.0 (Maci...|     iOS|
|2023-10-01 18:42:03|3959148173900|     evans-parry.org| 431340| 107716|85.216.103.189|  75.148.96.142|Scotland|    2.77|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 15:05:39|8175396488761|           allan.com| 217180| 347563|   96.20.61.55|  42.202.138.18|Scotland|    1.97|      HTTPS|Mozilla/5.0 (comp...| Android|
|2023-10-05 21:23:54|8006653004613|     jones-lamb.info| 976934| 286471|89.144.167.165| 182.106.199.76|Scotland|    0.36|      HTTPS|Mozilla/5.0 (comp...| Android|
|2023-10-01 10:00:06|6495200836137|         fleming.com| 321418| 235017| 128.8.198.117| 163.30.125.224|Scotland|    1.22|       HTTP|Opera/9.66.(Windo...|     Mac|
|2023-10-05 09:25:02|6481433535464|     davis-singh.com| 385323| 868632| 26.173.135.30| 103.25.104.221|Scotland|    2.87|       HTTP|Mozilla/5.0 (comp...|   Linux|
|2023-10-04 10:58:44|8199123287437|          davies.biz| 669313| 930916|  71.62.35.229|  168.142.218.1|Scotland|    0.57|       HTTP|Mozilla/5.0 (Maci...|     iOS|
|2023-10-03 22:40:31|6535509599021|           jones.com| 969356| 788418|182.104.85.104|  94.93.143.143|Scotland|    0.02|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-03 16:06:07|3936485455498|   sykes-gibbons.com| 587433| 659780|154.64.246.143| 118.225.142.11|Scotland|    2.03|       HTTP|Opera/8.12.(Windo...| Windows|
|2023-10-03 10:26:50|7889613044463|           smith.net| 759118| 710599|217.222.208.43|102.254.132.209|Scotland|    1.85|      HTTPS|Mozilla/5.0 (comp...|     iOS|
|2023-10-02 02:30:59|1383526841599|         smith.co.uk| 586221|   9690|125.170.101.25|  202.34.80.229|Scotland|    0.26|       HTTP|Mozilla/5.0 (X11;...|   Linux|
|2023-10-04 00:26:43|9722384187071|          davies.net|  77054| 388412|  95.113.37.44|   63.6.244.136|Scotland|    2.47|       HTTP|Opera/9.66.(X11; ...|     Mac|
|2023-10-05 13:07:11|1151586316328|          newman.biz| 717862| 987620|102.181.238.50|  124.12.244.51|Scotland|    2.81|       HTTP|Mozilla/5.0 (Maci...| Windows|
+-------------------+-------------+--------------------+-------+-------+--------------+---------------+--------+--------+-----------+--------------------+--------+
only showing top 20 rows

In [ ]:
# This is filter condition in pyspark
df.filter( df.country == 'Scotland' ) \
.show()

+-------------------+-------------+--------------------+-------+-------+--------------+---------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|              domain|dlbytes|ulbytes|      clientip|       serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+--------------------+-------+-------+--------------+---------------+--------+--------+-----------+--------------------+--------+
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420| 189.30.60.163|  68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 11:48:19|3400788003398|           watts.com| 342378| 715125| 142.37.27.131| 41.152.174.228|Scotland|    2.92|       HTTP|Opera/8.53.(Windo...|   Linux|
|2023-10-02 12:45:41|7007039082075|   kemp-robinson.org| 613214| 239494|80.245.249.129|198.186.190.149|Scotland|    1.78|      HTTPS|Mozilla/5.0 (X11;...|     Mac|
|2023-10-02 13:47:58| 150443056843|            todd.com| 204941| 114006|  161.8.210.40| 208.230.61.215|Scotland|    2.69|       HTTP|Opera/9.36.(X11; ...| Android|
|2023-10-02 16:31:19|9005687132733|  pratt-stephens.net|  24832| 700290| 60.137.227.62|   5.166.88.107|Scotland|    1.21|      HTTPS|Mozilla/5.0 (Linu...| Android|
|2023-10-04 23:30:26| 114665227781|johnson-robertson...| 824956|  79143|78.176.142.176| 20.206.104.212|Scotland|    1.83|       HTTP|Mozilla/5.0 (X11;...|     Mac|
|2023-10-01 23:19:51|  76528169391|         brooks.info| 290266| 821733|  25.38.138.51| 115.22.214.193|Scotland|    0.93|       HTTP|Mozilla/5.0 (X11;...|     iOS|
|2023-10-03 04:20:55|4249192830821|          kelly.info| 651517| 623853| 93.122.128.37|174.208.156.197|Scotland|    0.45|       HTTP|Mozilla/5.0 (Maci...|     iOS|
|2023-10-01 18:42:03|3959148173900|     evans-parry.org| 431340| 107716|85.216.103.189|  75.148.96.142|Scotland|    2.77|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-03 15:05:39|8175396488761|           allan.com| 217180| 347563|   96.20.61.55|  42.202.138.18|Scotland|    1.97|      HTTPS|Mozilla/5.0 (comp...| Android|
|2023-10-05 21:23:54|8006653004613|     jones-lamb.info| 976934| 286471|89.144.167.165| 182.106.199.76|Scotland|    0.36|      HTTPS|Mozilla/5.0 (comp...| Android|
|2023-10-01 10:00:06|6495200836137|         fleming.com| 321418| 235017| 128.8.198.117| 163.30.125.224|Scotland|    1.22|       HTTP|Opera/9.66.(Windo...|     Mac|
|2023-10-05 09:25:02|6481433535464|     davis-singh.com| 385323| 868632| 26.173.135.30| 103.25.104.221|Scotland|    2.87|       HTTP|Mozilla/5.0 (comp...|   Linux|
|2023-10-04 10:58:44|8199123287437|          davies.biz| 669313| 930916|  71.62.35.229|  168.142.218.1|Scotland|    0.57|       HTTP|Mozilla/5.0 (Maci...|     iOS|
|2023-10-03 22:40:31|6535509599021|           jones.com| 969356| 788418|182.104.85.104|  94.93.143.143|Scotland|    0.02|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-03 16:06:07|3936485455498|   sykes-gibbons.com| 587433| 659780|154.64.246.143| 118.225.142.11|Scotland|    2.03|       HTTP|Opera/8.12.(Windo...| Windows|
|2023-10-03 10:26:50|7889613044463|           smith.net| 759118| 710599|217.222.208.43|102.254.132.209|Scotland|    1.85|      HTTPS|Mozilla/5.0 (comp...|     iOS|
|2023-10-02 02:30:59|1383526841599|         smith.co.uk| 586221|   9690|125.170.101.25|  202.34.80.229|Scotland|    0.26|       HTTP|Mozilla/5.0 (X11;...|   Linux|
|2023-10-04 00:26:43|9722384187071|          davies.net|  77054| 388412|  95.113.37.44|   63.6.244.136|Scotland|    2.47|       HTTP|Opera/9.66.(X11; ...|     Mac|
|2023-10-05 13:07:11|1151586316328|          newman.biz| 717862| 987620|102.181.238.50|  124.12.244.51|Scotland|    2.81|       HTTP|Mozilla/5.0 (Maci...| Windows|
+-------------------+-------------+--------------------+-------+-------+--------------+---------------+--------+--------+-----------+--------------------+--------+
only showing top 20 rows

In [ ]:
# use pyspark to count our data
df.filter(dataFrame.country == 'Scotland') \
.count()

NameError: name 'dataFrame' is not defined

In [ ]:
# using sql for count
spark.sql("Select Count(*) From dataFrameSQL Where country = 'Scotland'").show()

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `dataFrameSQL` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 1 pos 21;
'Aggregate [unresolvedalias(count(1), None)]
+- 'Filter ('country = Scotland)
   +- 'UnresolvedRelation [dataFrameSQL], [], false

In [ ]:
# using sql for count
spark.sql("Select country,Count(*) As RowCount From dataFrameSQL Where dlbytes > 500000 Group By country").show()

+--------+--------+
| country|RowCount|
+--------+--------+
|   Wales|    8180|
| Ireland|    8143|
| England|    8279|
|Scotland|    8203|
+--------+--------+

In [ ]:
spark.sql("Select country, Count(*) As RowCount From dataFrameSQL Where dlbytes > 500000 Group By country").show()

+--------+--------+
| country|RowCount|
+--------+--------+
|   Wales|    8180|
| Ireland|    8143|
| England|    8279|
|Scotland|    8203|
+--------+--------+

In [ ]:
grouped_df_1=df.groupBy('country').agg({
    'dlbytes': 'sum',
    'ulbytes': 'avg'
    }
)

grouped_df_1.withColumnRenamed('avg(ulbytes)', 'AvgUL').show()

+--------+------------------+------------+
| country|             AvgUL|sum(dlbytes)|
+--------+------------------+------------+
|   Wales| 501170.9036600422| 12506206681|
| Ireland|498588.33693996957| 12496130770|
| England| 500240.4421728041| 12629527260|
|Scotland|499690.46323203866| 12367493862|
+--------+------------------+------------+

In [ ]:
# Above SQL Query using PySpark

dataFrame.filter( dataFrame.dlbytes > 500000 ).groupBy('country').count().withColumnRenamed('count', 'RowCount').show()

+--------+--------+
| country|RowCount|
+--------+--------+
|   Wales|    8180|
| Ireland|    8143|
| England|    8279|
|Scotland|    8203|
+--------+--------+

In [ ]:
# donot use show just after group by
dataFrame.filter( dataFrame.dlbytes > 500000 ).groupBy('country').count().show()

+--------+-----+
| country|count|
+--------+-----+
|   Wales| 8180|
| Ireland| 8143|
| England| 8279|
|Scotland| 8203|
+--------+-----+

In [ ]:
from pyspark.sql.functions import *

df.groupBy('country').agg(
    sum('dlbytes').alias('DL'),
    avg('ulbytes').alias('UL'),
    count('*').alias('row count')
).show()

+--------+-----------+------------------+---------+
| country|         DL|                UL|row count|
+--------+-----------+------------------+---------+
|   Wales|12506206681| 501170.9036600422|    25109|
| Ireland|12496130770|498588.33693996957|    24954|
| England|12629527260| 500240.4421728041|    25092|
|Scotland|12367493862|499690.46323203866|    24845|
+--------+-----------+------------------+---------+

In [ ]:
grouped_df_1=df.groupBy('country').agg({
    'dlbytes': 'sum',
    'ulbytes': 'avg'
    }
).show()

+--------+------------------+------------+
| country|      avg(ulbytes)|sum(dlbytes)|
+--------+------------------+------------+
|   Wales| 501170.9036600422| 12506206681|
| Ireland|498588.33693996957| 12496130770|
| England| 500240.4421728041| 12629527260|
|Scotland|499690.46323203866| 12367493862|
+--------+------------------+------------+

In [ ]:
# import sql library
from pyspark.sql.functions import *
df.groupBy('country').agg(sum('dlbytes'),avg('ulbytes'),count('*')).show()

AttributeError: 'NoneType' object has no attribute 'groupBy'

In [ ]:
# Import SQL Library
#from pyspark.sql import functions as Fncs
from pyspark.sql.functions import *

df.groupBy('country').agg(sum('dlbytes').alias('DL'),avg('ulbytes').alias('UL'),count('*').alias('Count')).show()

AttributeError: 'NoneType' object has no attribute 'groupBy'

In [ ]:
df.withColumn('totalbytes',col('dlbytes') + col('ulbytes')).show(5)

+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+----------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|     serverip| country|txn_time|http_method|          user_agent|platform|totalbytes|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+----------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|   1614333|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|    580402|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|   1916696|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|   1024416|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|   1455054|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+----------+
only showing top 5 rows

In [ ]:
df.withColumn('Year', year('date_time')).show()

NameError: name 'year' is not defined

In [ ]:
df.withColumn('txtime_milliseconds',col('txn_time') * 1000).show(5)

+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+-------------------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|     serverip| country|txn_time|http_method|          user_agent|platform|txtime_milliseconds|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+-------------------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|             2330.0|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|             1200.0|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|             1320.0|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|             2580.0|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|             1530.0|
+-------------------+-------------+--------------------+-------+-------+---------------+-------------+--------+--------+-----------+--------------------+--------+-------------------+
only showing top 5 rows

In [ ]:
#
# Showing Calculated Columns with the Existing Columns of Dataframe
df\
    .withColumn('timeInMilliSeconds', col('txn_time') * 1000)\
    .withColumn('device_type', \
                when ( \
                      lower(col('platform')).isin('ios', 'android'), \
                       'Mobile') \

                .otherwise('Desktop') \

                 ) \
                 .select('country', 'dlbytes', 'domain', 'timeInMilliSeconds', 'device_type')\
                 .show()

NameError: name 'col' is not defined

In [ ]:
# Showing Calculated Columns with the Existing Columns of Dataframe
df.withColumn('device_type', \
                     when ( \
                           lower(col('platform')).isin('ios', 'android'), \
                            'Mobile') \
                     .otherwise('Desktop') \
).show(2)

NameError: name 'when' is not defined

In [ ]:
df=df.dropDuplicates().show(5)

+-------------------+-------------+------------------+-------+-------+---------------+--------------+--------+--------+-----------+--------------------+--------+
|          date_time|       userid|            domain|dlbytes|ulbytes|       clientip|      serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+-------------+------------------+-------+-------+---------------+--------------+--------+--------+-----------+--------------------+--------+
|2023-10-05 20:35:22|7232270657348|        sims.co.uk| 489531|  15794|143.194.162.242|23.108.119.179| England|    2.19|       HTTP|Mozilla/5.0 (comp...| Windows|
|2023-10-04 19:09:15|8852584472270|          cook.com| 232954| 491770|    6.76.17.236|   16.207.40.3|Scotland|    1.23|       HTTP|Opera/8.64.(X11; ...|   Linux|
|2023-10-03 03:58:38| 316312399362|        rogers.com| 508745| 206631|   23.169.213.8|131.98.237.237|Scotland|    0.81|       HTTP|Mozilla/5.0 (Wind...| Android|
|2023-10-05 02:06:43|8414495622641|morgan-porter.info| 606296| 618269| 165.189.148.81|  55.64.31.250|Scotland|    0.32|      HTTPS|Opera/8.98.(X11; ...| Android|
|2023-10-04 04:28:04|5570891946460|         smith.com| 224856| 628958|    35.3.218.68|  208.41.61.73|   Wales|    1.56|      HTTPS|Opera/8.24.(X11; ...|     iOS|
+-------------------+-------------+------------------+-------+-------+---------------+--------------+--------+--------+-----------+--------------------+--------+
only showing top 5 rows

In [ ]:
# creating a new data frame
data = [("Alice", 25), ("Bob", 30), ("Charlie", 35), ("Alice", 25), ("Alice", 25)]
dataFrame1 = spark.createDataFrame(data, ["Name", "Age"])

In [ ]:
# Creating New Dataframe from Set of Data
data = [("Alice", 25), ("Bob", 30), ("Charlie", 35), ("Alice", 25), ("Alice", 25)]
dataFrame1 = spark.createDataFrame(data, ["Name", "Age"])

In [ ]:
dataFrame1.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
|  Alice| 25|
|  Alice| 25|
+-------+---+

In [ ]:
# Research, if assiging DataFrame back to same DataFrame has any perfomance impact, and is there any better way of doing it.
dataFrame1 = dataFrame1.dropDuplicates()
dataFrame1.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|Charlie| 35|
|    Bob| 30|
+-------+---+

In [ ]:
# Creating New Dataframe from Set of Data
data = [("1", "Office_Supplies","2020-0902","65.94")]
dataFrame1 = spark.createDataFrame(data, ["S.No","category", "order_date","sales"])

In [ ]:
dataFrame1.show()

+----+---------------+----------+-----+
|S.No|       category|order_date|sales|
+----+---------------+----------+-----+
|   1|Office_Supplies| 2020-0902|65.94|
+----+---------------+----------+-----+

In [ ]:
dataSample = [\
        ("1", "Office Supplies", "2020-09-02", 65.94), \
        ("2", "Furniture", "2021-12-04", 11.35), \
        ("3", "Office Supplies", "2019-06-12", 24.56), \
        ("4", "Office Supplies", "2020-09-04", 16.96), \
        ("5", "Technology", "2020-09-04", 279.95), \
        ("6", "Office Supplies", "2018-04-21", 828.84), \
        ("7", "Office Supplies", "2019-11-05", 7.21), \
        ("8", "Office Supplies", "2019-11-05", 27.2), \
        ("9", "Technology", "2018-11-03", 89.97), \
        ("10", "Furniture", "2020-02-16", 318.08), \
        ]
dataFrameTest = spark.createDataFrame(dataSample, ["ID", "Category", "OrderDate", "Sales"])
dataFrameTest.show()

+---+---------------+----------+------+
| ID|       Category| OrderDate| Sales|
+---+---------------+----------+------+
|  1|Office Supplies|2020-09-02| 65.94|
|  2|      Furniture|2021-12-04| 11.35|
|  3|Office Supplies|2019-06-12| 24.56|
|  4|Office Supplies|2020-09-04| 16.96|
|  5|     Technology|2020-09-04|279.95|
|  6|Office Supplies|2018-04-21|828.84|
|  7|Office Supplies|2019-11-05|  7.21|
|  8|Office Supplies|2019-11-05|  27.2|
|  9|     Technology|2018-11-03| 89.97|
| 10|      Furniture|2020-02-16|318.08|
+---+---------------+----------+------+

In [ ]:
df.groupBy("userid").count().show()

+-------------+-----+
|       userid|count|
+-------------+-----+
|8815394944307|    2|
|9499753068327|    2|
|5916035346403|    2|
|2748227282317|    2|
|7534745612915|    2|
|3992919204977|    2|
|2962030726906|    2|
| 817074018183|    2|
| 600457510547|    2|
|7519612111747|    2|
|4790325374899|    2|
|1977802514774|    2|
|7931903395117|    2|
| 753334451081|    2|
|2805823702966|    2|
|3469032534055|    2|
|8882061994919|    2|
| 838331771594|    2|
|8696950459136|    2|
|3985463086651|    2|
+-------------+-----+
only showing top 20 rows

In [ ]:
df=df.dropDuplicates().show()

+-------------------+-------------+--------------------+------+------+---------------+---------------+--------+----+-----+--------------------+-------+
|                _c0|          _c1|                 _c2|   _c3|   _c4|            _c5|            _c6|     _c7| _c8|  _c9|                _c10|   _c11|
+-------------------+-------------+--------------------+------+------+---------------+---------------+--------+----+-----+--------------------+-------+
|2023-10-01 16:15:11|5751055358730|   price-herbert.com|334687|261737|  207.81.18.110|162.195.144.136|   Wales|2.96|HTTPS|Opera/9.98.(Windo...|    iOS|
|2023-10-01 15:01:23|2871404017925|stephens-webster....|914209|100031|   123.72.8.203| 131.195.104.93| England|0.26| HTTP|Mozilla/5.0 (iPod...|    Mac|
|2023-10-03 00:20:34|7750019328502|    young-ahmed.info|305507|421175|   91.250.50.91|  115.72.191.61|Scotland|2.41|HTTPS|Mozilla/5.0 (iPad...|    Mac|
|2023-10-01 17:13:26|9333918907957|           duffy.com|264776| 36940| 213.198.19.193|148.126.168.106| Ireland|1.46| HTTP|Mozilla/5.0 (iPho...|Windows|
|2023-10-02 06:06:46|5040117545684|        holloway.com|723268|515996|   9.83.134.241| 55.120.233.157|   Wales|1.74| HTTP|Opera/9.76.(X11; ...|    iOS|
|2023-10-03 08:07:47|8474933879153|         johnson.com|894626|477019|  15.189.21.115|  151.162.45.22|Scotland| 1.3| HTTP|Mozilla/5.0 (Maci...|    iOS|
|2023-10-03 22:58:24|9080324875780|    harris-baker.com|127040|680176|  101.20.24.119| 101.55.229.123| England|2.53| HTTP|Mozilla/5.0 (iPod...|Windows|
|2023-10-03 09:58:57|0377437989964|    wilson-flynn.com| 36052|652868|   28.141.55.73| 201.56.106.106| Ireland|2.41| HTTP|Mozilla/5.0 (Maci...|    Mac|
|2023-10-01 13:12:14|1739616234778|          clarke.com|956341|299175| 84.136.157.169| 159.185.152.42| Ireland|0.36| HTTP|Opera/8.30.(X11; ...|    iOS|
|2023-10-04 11:43:47|2703017014095|          watson.biz|838086|653809|  1.202.248.133|    9.61.60.241| Ireland|2.39|HTTPS|Mozilla/5.0 (Wind...|    Mac|
|2023-10-03 13:07:09|6874884214875|          obrien.com|863849|844285|   25.0.171.181|  59.19.199.123|   Wales|1.12|HTTPS|Mozilla/5.0 (iPod...|    iOS|
|2023-10-05 19:49:43|2553089848687|           jones.org|572553|348929|   52.197.1.221|141.229.182.150|   Wales|1.55| HTTP|Mozilla/5.0 (iPad...|    Mac|
|2023-10-05 19:21:17|4154979429415|          walker.com|861670|397339|   188.85.71.52|217.151.112.145| Ireland|0.38| HTTP|Mozilla/5.0 (iPod...|    Mac|
|2023-10-01 09:53:04|7421152662693|        conway.co.uk|957474|544301| 21.188.156.134| 83.162.141.254|Scotland|2.15|HTTPS|Mozilla/5.0 (comp...|Android|
|2023-10-05 10:01:55|7955478068637|        atkinson.com|782396|860461|131.115.153.252|173.130.121.137| England| 0.6|HTTPS|Mozilla/5.0 (Andr...|  Linux|
|2023-10-04 08:55:51|3922682398777|        campbell.com|540251|520435|  124.84.174.58|  35.187.97.198| Ireland|0.99| HTTP|Mozilla/5.0 (comp...|Android|
|2023-10-05 18:55:09|6338998095307|  barrett-wilson.com|698643|598242|  115.59.91.203|138.155.144.145| England|1.49| HTTP|Mozilla/5.0 (Linu...|  Linux|
|2023-10-04 07:15:38|7733641902075|        marshall.org|931428|764175|     110.6.78.2| 135.14.148.109|   Wales|1.45|HTTPS|Mozilla/5.0 (Wind...|Android|
|2023-10-03 04:45:04|2974250101183|            hunt.com|411969|651782|  35.174.43.183| 106.89.185.246|   Wales|0.02|HTTPS|Mozilla/5.0 (comp...|    iOS|
|2023-10-04 19:26:08|3684169648697|        nicholls.com|499505|474614|207.242.212.119|  30.182.99.214| Ireland|2.88|HTTPS|Mozilla/5.0 (Maci...|Windows|
+-------------------+-------------+--------------------+------+------+---------------+---------------+--------+----+-----+--------------------+-------+
only showing top 20 rows

In [ ]:
df.dropDuplicates(['userid']).show()

+-------------------+----------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|          date_time|    userid|              domain|dlbytes|ulbytes|       clientip|       serverip| country|txn_time|http_method|          user_agent|platform|
+-------------------+----------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
|2023-10-01 19:20:24|  34807482|         webster.net| 429570| 228229| 168.22.133.196| 188.131.178.65| Ireland|    2.71|      HTTPS|Mozilla/5.0 (Wind...| Android|
|2023-10-04 06:21:05|  88393327|          turner.com| 388236| 629827| 154.157.232.93|176.234.133.159|Scotland|    2.86|       HTTP|Mozilla/5.0 (Maci...| Windows|
|2023-10-03 23:34:32| 128265483|        harrison.com| 333553| 968869|  37.122.37.184| 12.162.147.195|Scotland|    2.19|       HTTP|Opera/9.76.(Windo...|   Linux|
|2023-10-01 07:30:22| 361494373|          kirby.info| 247353| 584248| 115.60.168.113| 106.60.246.177| Ireland|    1.73|       HTTP|Mozilla/5.0 (X11;...| Windows|
|2023-10-02 03:42:11|1130096601|  jones-harrison.com| 950184| 375568|   94.20.247.44|   77.205.51.89|   Wales|    0.49|       HTTP|Mozilla/5.0 (Wind...|     Mac|
|2023-10-02 20:14:20|1282602212|stanley-nicholson...| 529285| 853240|  87.147.33.248|  47.115.191.88| England|    2.08|      HTTPS|Mozilla/5.0 (iPad...|   Linux|
|2023-10-03 17:53:45|1313720052|          oneill.org| 747704| 314841|146.176.123.105|119.162.164.139| England|    1.95|       HTTP|Mozilla/5.0 (iPho...|     Mac|
|2023-10-05 22:07:58|1582121441|          barlow.com| 885053| 173218| 203.22.206.143|  43.207.119.60| England|     0.0|       HTTP|Mozilla/5.0 (comp...| Android|
|2023-10-01 09:54:58|2240061499|          brooks.net| 106919| 351374|   129.8.89.177|  186.98.153.31|Scotland|    2.44|      HTTPS|Opera/9.82.(X11; ...| Android|
|2023-10-01 15:42:01|2425584610|    wright-white.com|  13719| 595507|133.242.111.204| 183.51.217.241| Ireland|     2.9|      HTTPS|Mozilla/5.0 (X11;...|   Linux|
|2023-10-04 05:53:26|2560448662|    marsh-clarke.com| 438243|  12995|  71.13.230.216|   131.91.43.82|Scotland|    2.84|       HTTP|Mozilla/5.0 (iPod...|   Linux|
|2023-10-05 16:48:22|2650049334|          baxter.com| 912843| 942550|    152.51.50.6|101.234.165.216| Ireland|    1.36|       HTTP|Mozilla/5.0 (Wind...|   Linux|
|2023-10-01 19:30:04|2942326151|      lynch-john.net| 610606| 787366|  51.225.19.171| 148.224.53.190|Scotland|    0.68|       HTTP|Opera/8.40.(Windo...|   Linux|
|2023-10-01 15:22:36|3348050063|           jones.com|  50800| 441858| 106.57.200.214|  151.23.154.39| Ireland|    0.76|      HTTPS|Mozilla/5.0 (Maci...|     Mac|
|2023-10-02 22:02:28|3362352146|          thomas.com| 281809|  31784| 223.134.98.254| 141.216.238.79| England|     1.4|      HTTPS|Mozilla/5.0 (iPod...| Android|
|2023-10-01 05:55:55|3675997061|         osborne.com| 955497| 845021|  73.152.128.68| 30.218.241.157| Ireland|    0.38|      HTTPS|Mozilla/5.0 (Wind...|     iOS|
|2023-10-02 10:45:43|3860685467|          barton.com| 701021| 795588|  99.233.235.32|102.123.129.225| England|    2.02|       HTTP|Mozilla/5.0 (comp...| Windows|
|2023-10-02 06:26:16|4053915412|       robertson.com| 216521|  52914|   32.66.83.226|  97.127.241.23| Ireland|    0.66|      HTTPS|Mozilla/5.0 (Wind...|     iOS|
|2023-10-03 12:55:00|4444008934|          wright.net| 925109| 642682| 23.230.124.134|    85.3.111.31|Scotland|    0.65|       HTTP|Mozilla/5.0 (Maci...|     Mac|
|2023-10-01 13:25:16|4551529421|      green-bird.biz| 488443| 987643|  67.130.39.111|   41.199.87.46| England|    2.65|       HTTP|Mozilla/5.0 (X11;...| Android|
+-------------------+----------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+
only showing top 20 rows

In [ ]:
#
df.groupBy(['userid']).count().show()
#dataFrame.dropDuplicates(['userid']).groupBy(['userid']).count().show()

+-------------+-----+
|       userid|count|
+-------------+-----+
|8815394944307|    2|
|9499753068327|    2|
|5916035346403|    2|
|2748227282317|    2|
|7534745612915|    2|
|3992919204977|    2|
|2962030726906|    2|
| 817074018183|    2|
| 600457510547|    2|
|7519612111747|    2|
|4790325374899|    2|
|1977802514774|    2|
|7931903395117|    2|
| 753334451081|    2|
|2805823702966|    2|
|3469032534055|    2|
|8882061994919|    2|
| 838331771594|    2|
|8696950459136|    2|
|3985463086651|    2|
+-------------+-----+
only showing top 20 rows

In [ ]:
#writing to file
df.write.csv('mycsvfile')

In [ ]:
df=df.coalesce(1) # after coalesce single file or partition made
# limitataion complete failure and time consuming

In [ ]:
df.write.csv('mycsvfile2')

In [ ]:
df.write.json('myjsonfile2')

In [ ]:
df.write.parquet('myparquet')

In [ ]:
# Calculate Year Wise Sales

 # .filter( year(dataFrameTest.OrderDate).isin (2019, 2020)) \

dataFrameTest \
    .where( year(dataFrameTest.OrderDate).isin (2019, 2020)) \
    .groupBy('Category') \
    .agg( \
         sum( \
             when (\
                   year('OrderDate') == 2019, \
                   col('Sales') \
                   ) \
              .otherwise(0) \
              ) \
          .alias('Sales2019'), \
         sum( \
             when (\
                   year('OrderDate') == 2020, \
                   dataFrameTest.Sales \
                   ) \
              .otherwise(0) \
              ) \
          .alias('Sales2020') \
          ) \
    .select(col('Category'), 'Sales2019', 'Sales2020') \
    .orderBy(col('Category').desc()) \
    .show()

+---------------+---------+---------+
|       Category|Sales2019|Sales2020|
+---------------+---------+---------+
|     Technology|      0.0|   279.95|
|Office Supplies|    58.97|     82.9|
|      Furniture|      0.0|   318.08|
+---------------+---------+---------+

In [ ]:
from pyspark.sql.functions import when

In [ ]:
df.withColumn("caseexample",when["dlbytes"] > 500, "large").otherwise("small").show()

TypeError: 'function' object is not subscriptable

In [ ]:
from pyspark.sql.functions import isnull

In [ ]:
df.withColumn("nullexample", when(isnull(df["use_agent"]),1).otherwise(0)).show()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `use_agent` cannot be resolved. Did you mean one of the following? [`date_time`, `userid`, `domain`, `dlbytes`, `ulbytes`, `clientip`, `serverip`, `country`, `txn_time`, `http_method`, `user_agent`, `platform`].

In [ ]:
#something is true and somthing is true
df.withColumn("transectionsize",
              when(
                  (df["dlbytes"] > 500000) & (df["ulbytes"] > 500000),
                  "large"
                  ).otherwise("small")).show()

+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+---------------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|       serverip| country|txn_time|http_method|          user_agent|platform|transectionsize|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+---------------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|  62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|          large|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|  152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|          small|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|  68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|          large|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|  63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|          small|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|  26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|          large|
|2023-10-01 13:49:39|8949163845658|            lowe.com|  43595|  77597|  148.15.214.37|     4.33.9.229| England|    1.68|       HTTP|Mozilla/5.0 (Linu...|     Mac|          small|
|2023-10-02 02:22:30|8035878244556|            webb.com| 270574|  94701|  73.78.116.223|    82.69.61.25| England|    2.19|      HTTPS|Mozilla/5.0 (Wind...| Windows|          small|
|2023-10-03 11:48:19|3400788003398|           watts.com| 342378| 715125|  142.37.27.131| 41.152.174.228|Scotland|    2.92|       HTTP|Opera/8.53.(Windo...|   Linux|          small|
|2023-10-02 12:45:41|7007039082075|   kemp-robinson.org| 613214| 239494| 80.245.249.129|198.186.190.149|Scotland|    1.78|      HTTPS|Mozilla/5.0 (X11;...|     Mac|          small|
|2023-10-03 08:59:16| 893913938070|           smith.com| 643362| 146752|    21.239.54.8|  136.170.182.7| England|    0.58|      HTTPS|Mozilla/5.0 (Andr...| Windows|          small|
|2023-10-05 21:36:53|3102780874474|   wilson-butler.com| 603759| 616834| 57.113.168.155|162.232.192.227| Ireland|    2.42|      HTTPS|Mozilla/5.0 (Andr...|     Mac|          large|
|2023-10-02 03:26:59|7214908687567|            hunt.com| 707145| 995270|  98.141.197.15| 107.239.246.38| England|    1.95|       HTTP|Opera/9.31.(Windo...|     iOS|          large|
|2023-10-04 03:09:58| 291279030607|           jones.org| 640439| 373389|       98.3.2.5|   148.44.76.68|   Wales|    2.47|       HTTP|Mozilla/5.0 (Maci...|     Mac|          small|
|2023-10-02 10:16:25|1042763747479|         thomas.info| 764956| 952036|187.182.236.233|   85.61.114.36| England|    1.42|       HTTP|Mozilla/5.0 (Andr...| Android|          large|
|2023-10-05 02:22:40|2322746906974|franklin-whittake...| 651947| 183369| 26.138.157.236| 142.176.162.10| Ireland|    1.35|      HTTPS|Opera/8.74.(Windo...|   Linux|          small|
|2023-10-01 18:12:17| 316289568864|         godfrey.com| 428528|  78946| 65.224.238.100|  128.90.192.17| Ireland|    1.61|       HTTP|Opera/9.16.(Windo...|   Linux|          small|
|2023-10-01 20:09:39|1093994305313|          wilson.com|  23710|  84942|  129.221.29.97|  18.191.29.117|   Wales|    1.25|       HTTP|Opera/9.17.(X11; ...|     iOS|          small|
|2023-10-03 04:45:13|7035874783254|      cole-jones.com| 447095| 390148|   94.98.62.187|172.173.228.171|   Wales|    2.43|       HTTP|Mozilla/5.0 (comp...| Android|          small|
|2023-10-05 18:48:05|7798663185667|            hall.net| 809701|  11489|  82.141.112.88|  110.103.99.71| England|    2.66|      HTTPS|Mozilla/5.0 (iPad...|     iOS|          small|
|2023-10-02 13:47:58| 150443056843|            todd.com| 204941| 114006|   161.8.210.40| 208.230.61.215|Scotland|    2.69|       HTTP|Opera/9.36.(X11; ...| Android|          small|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+---------------+
only showing top 20 rows

In [ ]:
#something is true and somthing is true
df.withColumn("transectionsize",
              when(
                  (df["dlbytes"] > 500000) | (df["ulbytes"] > 500000),
                  "large"
                  ).otherwise("small")).show(2)

+-------------------+-------------+----------------+-------+-------+---------------+-------------+-------+--------+-----------+--------------------+--------+---------------+
|          date_time|       userid|          domain|dlbytes|ulbytes|       clientip|     serverip|country|txn_time|http_method|          user_agent|platform|transectionsize|
+-------------------+-------------+----------------+-------+-------+---------------+-------------+-------+--------+-----------+--------------------+--------+---------------+
|2023-10-04 11:37:11|7773153683656|ryan-wells.co.uk| 872807| 741526|142.132.219.110|62.42.184.180|England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|          large|
|2023-10-04 12:17:07|1886351675683|     hopkins.org|  50898| 529504|  184.205.48.78|152.123.41.39|  Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|          large|
+-------------------+-------------+----------------+-------+-------+---------------+-------------+-------+--------+-----------+--------------------+--------+---------------+
only showing top 2 rows

In [ ]:
df \
.withColumn(
    "TransactionSize",
    when(
        (col('dlbytes') > 500000) &
         (col('ulbytes') > 500000), 'Large'
    )
    .otherwise('Small')
).show()

+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+---------------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|       serverip| country|txn_time|http_method|          user_agent|platform|TransactionSize|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+---------------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|  62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|          Large|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|  152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|          Small|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|  68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|          Large|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|  63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|          Small|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|  26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|          Large|
|2023-10-01 13:49:39|8949163845658|            lowe.com|  43595|  77597|  148.15.214.37|     4.33.9.229| England|    1.68|       HTTP|Mozilla/5.0 (Linu...|     Mac|          Small|
|2023-10-02 02:22:30|8035878244556|            webb.com| 270574|  94701|  73.78.116.223|    82.69.61.25| England|    2.19|      HTTPS|Mozilla/5.0 (Wind...| Windows|          Small|
|2023-10-03 11:48:19|3400788003398|           watts.com| 342378| 715125|  142.37.27.131| 41.152.174.228|Scotland|    2.92|       HTTP|Opera/8.53.(Windo...|   Linux|          Small|
|2023-10-02 12:45:41|7007039082075|   kemp-robinson.org| 613214| 239494| 80.245.249.129|198.186.190.149|Scotland|    1.78|      HTTPS|Mozilla/5.0 (X11;...|     Mac|          Small|
|2023-10-03 08:59:16| 893913938070|           smith.com| 643362| 146752|    21.239.54.8|  136.170.182.7| England|    0.58|      HTTPS|Mozilla/5.0 (Andr...| Windows|          Small|
|2023-10-05 21:36:53|3102780874474|   wilson-butler.com| 603759| 616834| 57.113.168.155|162.232.192.227| Ireland|    2.42|      HTTPS|Mozilla/5.0 (Andr...|     Mac|          Large|
|2023-10-02 03:26:59|7214908687567|            hunt.com| 707145| 995270|  98.141.197.15| 107.239.246.38| England|    1.95|       HTTP|Opera/9.31.(Windo...|     iOS|          Large|
|2023-10-04 03:09:58| 291279030607|           jones.org| 640439| 373389|       98.3.2.5|   148.44.76.68|   Wales|    2.47|       HTTP|Mozilla/5.0 (Maci...|     Mac|          Small|
|2023-10-02 10:16:25|1042763747479|         thomas.info| 764956| 952036|187.182.236.233|   85.61.114.36| England|    1.42|       HTTP|Mozilla/5.0 (Andr...| Android|          Large|
|2023-10-05 02:22:40|2322746906974|franklin-whittake...| 651947| 183369| 26.138.157.236| 142.176.162.10| Ireland|    1.35|      HTTPS|Opera/8.74.(Windo...|   Linux|          Small|
|2023-10-01 18:12:17| 316289568864|         godfrey.com| 428528|  78946| 65.224.238.100|  128.90.192.17| Ireland|    1.61|       HTTP|Opera/9.16.(Windo...|   Linux|          Small|
|2023-10-01 20:09:39|1093994305313|          wilson.com|  23710|  84942|  129.221.29.97|  18.191.29.117|   Wales|    1.25|       HTTP|Opera/9.17.(X11; ...|     iOS|          Small|
|2023-10-03 04:45:13|7035874783254|      cole-jones.com| 447095| 390148|   94.98.62.187|172.173.228.171|   Wales|    2.43|       HTTP|Mozilla/5.0 (comp...| Android|          Small|
|2023-10-05 18:48:05|7798663185667|            hall.net| 809701|  11489|  82.141.112.88|  110.103.99.71| England|    2.66|      HTTPS|Mozilla/5.0 (iPad...|     iOS|          Small|
|2023-10-02 13:47:58| 150443056843|            todd.com| 204941| 114006|   161.8.210.40| 208.230.61.215|Scotland|    2.69|       HTTP|Opera/9.36.(X11; ...| Android|          Small|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+---------------+
only showing top 20 rows

In [ ]:
df.withColumn("transectionsize",
        when(
                  (df["dlbytes"] > 500000) & (df["ulbytes"] > 500000),
                  "large"
                  )
        .when(
                  (df["dlbytes"] > 250000) & (df["ulbytes"] > 250000),
                  "medium"
                  )
         .when(
                  (df["dlbytes"] > 150000) & (df["ulbytes"] > 150000),
                  "small"
                  )
.otherwise("tiny")).show()

+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+---------------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|       serverip| country|txn_time|http_method|          user_agent|platform|transectionsize|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+---------------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|  62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|          large|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|  152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|          small|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|  68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|          large|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|  63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|          small|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|  26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|          large|
|2023-10-01 13:49:39|8949163845658|            lowe.com|  43595|  77597|  148.15.214.37|     4.33.9.229| England|    1.68|       HTTP|Mozilla/5.0 (Linu...|     Mac|          small|
|2023-10-02 02:22:30|8035878244556|            webb.com| 270574|  94701|  73.78.116.223|    82.69.61.25| England|    2.19|      HTTPS|Mozilla/5.0 (Wind...| Windows|          small|
|2023-10-03 11:48:19|3400788003398|           watts.com| 342378| 715125|  142.37.27.131| 41.152.174.228|Scotland|    2.92|       HTTP|Opera/8.53.(Windo...|   Linux|         medium|
|2023-10-02 12:45:41|7007039082075|   kemp-robinson.org| 613214| 239494| 80.245.249.129|198.186.190.149|Scotland|    1.78|      HTTPS|Mozilla/5.0 (X11;...|     Mac|          small|
|2023-10-03 08:59:16| 893913938070|           smith.com| 643362| 146752|    21.239.54.8|  136.170.182.7| England|    0.58|      HTTPS|Mozilla/5.0 (Andr...| Windows|          small|
|2023-10-05 21:36:53|3102780874474|   wilson-butler.com| 603759| 616834| 57.113.168.155|162.232.192.227| Ireland|    2.42|      HTTPS|Mozilla/5.0 (Andr...|     Mac|          large|
|2023-10-02 03:26:59|7214908687567|            hunt.com| 707145| 995270|  98.141.197.15| 107.239.246.38| England|    1.95|       HTTP|Opera/9.31.(Windo...|     iOS|          large|
|2023-10-04 03:09:58| 291279030607|           jones.org| 640439| 373389|       98.3.2.5|   148.44.76.68|   Wales|    2.47|       HTTP|Mozilla/5.0 (Maci...|     Mac|         medium|
|2023-10-02 10:16:25|1042763747479|         thomas.info| 764956| 952036|187.182.236.233|   85.61.114.36| England|    1.42|       HTTP|Mozilla/5.0 (Andr...| Android|          large|
|2023-10-05 02:22:40|2322746906974|franklin-whittake...| 651947| 183369| 26.138.157.236| 142.176.162.10| Ireland|    1.35|      HTTPS|Opera/8.74.(Windo...|   Linux|          small|
|2023-10-01 18:12:17| 316289568864|         godfrey.com| 428528|  78946| 65.224.238.100|  128.90.192.17| Ireland|    1.61|       HTTP|Opera/9.16.(Windo...|   Linux|          small|
|2023-10-01 20:09:39|1093994305313|          wilson.com|  23710|  84942|  129.221.29.97|  18.191.29.117|   Wales|    1.25|       HTTP|Opera/9.17.(X11; ...|     iOS|          small|
|2023-10-03 04:45:13|7035874783254|      cole-jones.com| 447095| 390148|   94.98.62.187|172.173.228.171|   Wales|    2.43|       HTTP|Mozilla/5.0 (comp...| Android|         medium|
|2023-10-05 18:48:05|7798663185667|            hall.net| 809701|  11489|  82.141.112.88|  110.103.99.71| England|    2.66|      HTTPS|Mozilla/5.0 (iPad...|     iOS|          small|
|2023-10-02 13:47:58| 150443056843|            todd.com| 204941| 114006|   161.8.210.40| 208.230.61.215|Scotland|    2.69|       HTTP|Opera/9.36.(X11; ...| Android|          small|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+---------------+
only showing top 20 rows

In [ ]:
df.withColumn("transectionsize",
        when(
                  (df["txn_time"]  > 1.60),
                  "Acative"
                  )
        .otherwise("inactive")).show(10)

+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+---------------+
|          date_time|       userid|              domain|dlbytes|ulbytes|       clientip|       serverip| country|txn_time|http_method|          user_agent|platform|transectionsize|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+---------------+
|2023-10-04 11:37:11|7773153683656|    ryan-wells.co.uk| 872807| 741526|142.132.219.110|  62.42.184.180| England|    2.33|      HTTPS|Mozilla/5.0 (Wind...| Android|        Acative|
|2023-10-04 12:17:07|1886351675683|         hopkins.org|  50898| 529504|  184.205.48.78|  152.123.41.39|   Wales|     1.2|       HTTP|Mozilla/5.0 (Wind...| Android|       inactive|
|2023-10-02 23:25:12|1597721345356|           evans.com| 964276| 952420|  189.30.60.163|  68.171.236.18|Scotland|    1.32|       HTTP|Mozilla/5.0 (Wind...|   Linux|       inactive|
|2023-10-03 09:43:11|9766845800247|           kelly.com| 212529| 811887|   13.144.79.35|  63.141.80.109| England|    2.58|      HTTPS|Opera/8.54.(X11; ...| Android|        Acative|
|2023-10-01 08:16:46|1546762097287|richardson-walker...| 553626| 901428| 143.74.163.248|  26.253.17.223|   Wales|    1.53|       HTTP|Mozilla/5.0 (Maci...| Windows|       inactive|
|2023-10-01 13:49:39|8949163845658|            lowe.com|  43595|  77597|  148.15.214.37|     4.33.9.229| England|    1.68|       HTTP|Mozilla/5.0 (Linu...|     Mac|        Acative|
|2023-10-02 02:22:30|8035878244556|            webb.com| 270574|  94701|  73.78.116.223|    82.69.61.25| England|    2.19|      HTTPS|Mozilla/5.0 (Wind...| Windows|        Acative|
|2023-10-03 11:48:19|3400788003398|           watts.com| 342378| 715125|  142.37.27.131| 41.152.174.228|Scotland|    2.92|       HTTP|Opera/8.53.(Windo...|   Linux|        Acative|
|2023-10-02 12:45:41|7007039082075|   kemp-robinson.org| 613214| 239494| 80.245.249.129|198.186.190.149|Scotland|    1.78|      HTTPS|Mozilla/5.0 (X11;...|     Mac|        Acative|
|2023-10-03 08:59:16| 893913938070|           smith.com| 643362| 146752|    21.239.54.8|  136.170.182.7| England|    0.58|      HTTPS|Mozilla/5.0 (Andr...| Windows|       inactive|
+-------------------+-------------+--------------------+-------+-------+---------------+---------------+--------+--------+-----------+--------------------+--------+---------------+
only showing top 10 rows

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import rank,col,lead,lag,row_number, avg, sum

In [ ]:
window_spec= Window.partitionBy("country").orderBy(df["dlbytes"].desc()\
.select('country','dlbytes').show()

SyntaxError: incomplete input (<ipython-input-191-0aa67142085f>, line 2)

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import *
df.withColumn(
    'Rank',
    rank().over(
        Window.partitionBy('country','platform')\
        .orderBy(col('dlbytes').desc())
        )
).select('country','platform','dlbytes','Rank')\
.show(6)

+-------+--------+-------+----+
|country|platform|dlbytes|Rank|
+-------+--------+-------+----+
|England| Android| 999827|   1|
|England| Android| 999587|   2|
|England| Android| 999483|   3|
|England| Android| 999436|   4|
|England| Android| 999398|   5|
|England| Android| 999161|   6|
+-------+--------+-------+----+
only showing top 6 rows

In [ ]:
window_spec= Window.partitionBy("country").orderBy("date_time")

In [ ]:
df.withColumn(
    "row_number",
    row_number()\
    .over(window_spec))\
.select('country','row_number','date_time').show(6)

+-------+----------+-------------------+
|country|row_number|          date_time|
+-------+----------+-------------------+
|England|         1|2023-10-01 00:00:33|
|England|         2|2023-10-01 00:00:43|
|England|         3|2023-10-01 00:00:53|
|England|         4|2023-10-01 00:01:21|
|England|         5|2023-10-01 00:01:26|
|England|         6|2023-10-01 00:01:35|
+-------+----------+-------------------+
only showing top 6 rows

In [ ]:
#lead and lag
window_spec = Window.partitionBy().orderBy("date_time")

In [ ]:
df.withColumn("previous_bytes",lag("dlbytes").over(window_spec)) \
.select('date_time','dlbytes','previous_bytes').show(20)

+-------------------+-------+--------------+
|          date_time|dlbytes|previous_bytes|
+-------------------+-------+--------------+
|2023-10-01 00:00:01|  60865|          NULL|
|2023-10-01 00:00:01| 196289|         60865|
|2023-10-01 00:00:01| 350605|        196289|
|2023-10-01 00:00:04| 210027|        350605|
|2023-10-01 00:00:26| 523144|        210027|
|2023-10-01 00:00:32|  26727|        523144|
|2023-10-01 00:00:33| 453615|         26727|
|2023-10-01 00:00:37| 613899|        453615|
|2023-10-01 00:00:38| 115888|        613899|
|2023-10-01 00:00:39| 385154|        115888|
|2023-10-01 00:00:43| 825479|        385154|
|2023-10-01 00:00:52| 692831|        825479|
|2023-10-01 00:00:53| 427126|        692831|
|2023-10-01 00:00:53| 279175|        427126|
|2023-10-01 00:00:56| 947893|        279175|
|2023-10-01 00:01:08|  51447|        947893|
|2023-10-01 00:01:15| 776949|         51447|
|2023-10-01 00:01:17|  21886|        776949|
|2023-10-01 00:01:19| 152527|         21886|
|2023-10-01 00:01:20| 925857|        152527|
+-------------------+-------+--------------+
only showing top 20 rows

In [ ]:
df.withColumn("previous_bytes",lead("dlbytes").over(window_spec))\
.select('date_time','dlbytes','previous_bytes').show()

+-------------------+-------+--------------+
|          date_time|dlbytes|previous_bytes|
+-------------------+-------+--------------+
|2023-10-01 00:00:01|  60865|        196289|
|2023-10-01 00:00:01| 196289|        350605|
|2023-10-01 00:00:01| 350605|        210027|
|2023-10-01 00:00:04| 210027|        523144|
|2023-10-01 00:00:26| 523144|         26727|
|2023-10-01 00:00:32|  26727|        453615|
|2023-10-01 00:00:33| 453615|        613899|
|2023-10-01 00:00:37| 613899|        115888|
|2023-10-01 00:00:38| 115888|        385154|
|2023-10-01 00:00:39| 385154|        825479|
|2023-10-01 00:00:43| 825479|        692831|
|2023-10-01 00:00:52| 692831|        427126|
|2023-10-01 00:00:53| 427126|        279175|
|2023-10-01 00:00:53| 279175|        947893|
|2023-10-01 00:00:56| 947893|         51447|
|2023-10-01 00:01:08|  51447|        776949|
|2023-10-01 00:01:15| 776949|         21886|
|2023-10-01 00:01:17|  21886|        152527|
|2023-10-01 00:01:19| 152527|        925857|
|2023-10-01 00:01:20| 925857|        402757|
+-------------------+-------+--------------+
only showing top 20 rows